html(ng-app="lendinglibaryApp")
  head
    title Lending Library Prototype
    script(type='text/javascript' src='dependency.js')
    script(type='text/javascript' src='magic.js')
  body
    h1 Welcome to the doll house??
    .view-container
      .view-frame(ng-view)
  </div>
